

html, body {
  height: 100%;
  width: 100%;
  background-color: #322D31;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3, label {
    color: #ffffff;
}

form {
  color: #322D31;
}

#encryptedActual{
  font-family: 'Silkscreen', Fallback, cursive;
  color: lightgreen;
}

#TITLE{
  font-family: 'Cutive Mono', Fallback, monospace;
}

#DESCRIPTION{
  font-family: 'Cutive Mono', Fallback, monospace;
  color: lightgreen;
}

.spaceLabel{
  font-family: 'Cutive Mono', Fallback, monospace;
  color: lightgreen;
}

input {
  border-style: none;
}

button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btnTransition {
transition-property: color;
transition-duration: 0.35s;
transition-timing-function: ease-in-out;
transition-delay: 0s;
}

.delButton{
  background-color: #af4c4c;
}

.encryptButton{
  background-color: #4CAF50;
  font-family: 'Cutive Mono', Fallback, monospace;
}

.delButton:hover{
  background-color: #863b3b;
}

.encryptButton:hover{
  background-color: #3b883e;
}
.referenceHint{
  color: #322D31;
  position:absolute;
}

/*Styles for the missing content warnings*/
.missingWarning {
  font-size: 1.0rem;
  font-family: 'Cutive Mono', Fallback, monospace;
}

@font-face {
  font-family: "Silkscreen";
  src: url("../assets/Silkscreen/Silkscreen-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cutive Mono";
  src: url("../assets/Cutive_Mono/CutiveMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
