.typed-outTypewriter {
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    font-size: 1.0rem;
    width: 0;
    animation: 
    typing 1s steps(20, end) forwards,
    blink .8s infinite;
    
  }

  .typewritercontainer {
    display: inline-block;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
  }
  