@media only screen and (min-width: 1200px)  {

  .typed-outTypewriter {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.0rem;
    width: 0;
    animation: 
    typing 1s steps(20, end) forwards;
    
  }
  
  
  .delay1{
    animation-delay: 1.1s;
  }
  
  .delay2{
    animation-delay: 2.2s;
  }
  
  .delay3{
    animation-delay: 3.3s;
  }
  
  .delay4{
    animation-delay: 4.4s;
  }
  
  .typewritercontainer {
    display: inline-block;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
  }
  
    

}